In [9]:
!python -m spacy download es_core_news_sm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting es-core-news-sm==3.3.0
  Downloading https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.3.0/es_core_news_sm-3.3.0-py3-none-any.whl (12.9 MB)
     |████████████████████████████████| 12.9 MB 701 kB/s
Requirement already satisfied: spacy<3.4.0,>=3.3.0.dev0 in /usr/local/lib/python3.7/dist-packages (from es-core-news-sm==3.3.0) (3.3.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (1.0.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.11.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (1.21.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (1.0.7)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (0.9.1)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (0.4.1)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (0.6.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.0.7)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.23.0)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (4.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (57.4.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (1.8.2)
Requirement already satisfied: thinc<8.1.0,>=8.0.14 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (8.0.17)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.4.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (4.64.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (21.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (3.0.9)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (3.3.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (0.7.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (5.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2022.6.15)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.4.0,>=3.3.0.dev0->es-core-news-sm==3.3.0) (2.0.1)
Installing collected packages: es-core-news-sm
Successfully installed es-core-news-sm-3.3.0
✔ Download and installation successful
You can now load the package via spacy.load('es_core_news_sm')

In [10]:
import pandas as pd
import string as st
import spacy
import time
import re
import nltk
from nltk.stem import SnowballStemmer
from nltk import PorterStemmer, WordNetLemmatizer
nltk.download('punkt')
nltk.download('stopwords')
import es_core_news_sm
sp = es_core_news_sm.load()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Let's us read the input data
df = pd.read_csv('/content/drive/MyDrive/TFM/data/export_licitaciones.csv', sep=',', encoding='UTF8')
df.head()

,id_cpv,id_division,id_grupo,id_clase,id_categoria,objeto
0,32500000,32000000,32500000.0,NaN,NaN,Adquisición de repuestos para el ILS AMS 2100
1,65310000,65000000,65300000.0,65310000.0,NaN,Suministro de energía eléctrica en el Centro d...
2,92112000,92000000,92100000.0,92110000.0,92112000.0,"Servicio de duplicado de copias de películas, ..."
3,9122110,9000000,9100000.0,9120000.0,9122000.0,Gas Licuado Propano 2013/2014
4,75000000,75000000,NaN,NaN,NaN,Servicio de vigilancia del Centro Cultural de ...

In [ ]:
df.isnull().sum()

id_cpv               0
id_division          0
id_grupo         42863
id_clase        104943
id_categoria    193597
objeto               0
dtype: int64

In [ ]:
df = df.sample(n=50000, random_state=1)
df

,id_capitulo,id_concepto,id_partida_generica,descripcion
246729,2000,2500,2530,Infliximab SOLUCIÓN INYECTABLE El frasco ámpul...
71686,3000,3200,3250,SERVICIO DE ARRENDAMIENTO INTEGRAL DE VEHÍCULO...
26815,6000,6100,6150,Invitación E350-2018 Seguimiento y control par...
294323,3000,3500,3510,TRABAJOS DE REHABILTACIÓN Y MANTTO. EN LA ESTA...
224244,2000,2500,2530,ADQUISICION DE INSUMOS DE LISOSOMALES (IDURSUL...
...,...,...,...,...
496893,3000,3300,3390,PRESTACIÓN DE SERVICIOS PROFESIONALES DGAQ
299737,3000,3200,3270,Suscripción anual del servicio de correo elect...
73851,3000,3500,3580,CONTRATACIÓN PLURIANUAL DEL SERVICIO INTEGRAL ...
157176,3000,3100,3170,CONTRATACION DE SERVICIO DE CONDUCCION DE SEÑA...
268456,3000,3300,3310,PRESTADOR DE SERVICIOS PROFESIONALES

# Text cleaning and processing steps
* Remove punctuations
* Convert text to tokens
* Remove tokens of length less than or equal to 3
* Remove stopwords using NLTK corpus stopwords list to match
* Apply stemming
* Apply lemmatization
* Convert words to feature vectors

In [ ]:
def preprocessing_fastest(text):
  #tokenizamos words 
  token_word = nltk.word_tokenize(text.lower(), "spanish")
  index = 0
  while(index < len(token_word)):
    #omit tokens if are less than 4 characters or are punctuation marks
    if len(token_word[index]) <= 3 or token_word[index] in st.punctuation:
      token_word.pop(index)
    elif not (token_word[index].isalpha()):
      token_word.pop(index)
    #omit tokens if are stopwords in spanish
    elif token_word[index] in nltk.corpus.stopwords.words('spanish'):
      token_word.pop(index)
    else:
      index += 1
  #lematization of tokens
  doc = sp(' '.join(token_word))
  #for token in doc:
  #  print(token.text, token.lemma_, token.pos_, token.dep_)
  return " ".join([token.lemma_ for token in doc])

In [ ]:
def preprocessing_fastest_v2(text):
  #tokenizamos words 
  token_word = nltk.word_tokenize(text.lower(), "spanish")
  sentence = []
  for token in token_word:
    #omit tokens if are less than 4 characters or are punctuation marks
    if len(token) <= 3 or token in st.punctuation:
      continue
    #omit if the token has numbers
    if not (token.isalpha()):
      continue
    #omit tokens if are stopwords in spanish
    if token in nltk.corpus.stopwords.words('spanish'):
      continue
    sentence.append(token)
  #lematization of sentence
  doc = sp(' '.join(sentence))
  return ' '.join([token.lemma_ for token in doc])

In [ ]:
#Segunada version super mejorada: Más rápida
start = time.time()
print(preprocessing_fastest(df['objeto'].values[0]))
end = time.time()
print(end - start)

adquisición repuesto
0.05639839172363281

In [ ]:
#Tercera version super mejorada: La más rápida
start = time.time()
print(preprocessing_fastest_v2(df['objeto'].values[0]))
end = time.time()
print(end - start)

adquisición repuesto
0.07712173461914062

In [ ]:
#Versión la más rápida
start = time.time()
df['clean_text'] = df['objeto'].apply(lambda description: preprocessing_fastest_v2(description))
end = time.time()
print(end - start)

4703.552677869797

In [ ]:
df

,id_cpv,id_division,id_grupo,id_clase,id_categoria,objeto,clean_text
0,32500000,32000000,32500000.0,NaN,NaN,Adquisición de repuestos para el ILS AMS 2100,adquisición repuesto
1,65310000,65000000,65300000.0,65310000.0,NaN,Suministro de energía eléctrica en el Centro d...,suministrar energía eléctrico centrar conserva...
2,92112000,92000000,92100000.0,92110000.0,92112000.0,"Servicio de duplicado de copias de películas, ...",servicio duplicar copiar película tráiler vide...
3,9122110,9000000,9100000.0,9120000.0,9122000.0,Gas Licuado Propano 2013/2014,licuar propano
4,75000000,75000000,NaN,NaN,NaN,Servicio de vigilancia del Centro Cultural de ...,servicio vigilancia centrar cultural españa mé...
...,...,...,...,...,...,...,...
387390,70310000,70000000,70300000.0,70310000.0,NaN,"Arrendamiento cafetería, aseos y vestuarios de...",arrendamiento cafetería aseo vestuario edifici...
387391,90911000,90000000,90900000.0,90910000.0,90911000.0,Contrato basado en Acuerdo Marco servicio de l...,contratar basar acordar marcar servicio limpie...
387392,85100000,85000000,85100000.0,NaN,NaN,Servicio de prevención ajeno para el Instituto...,servicio prevención ajeno instituto municipal ...
387393,34631000,34000000,34600000.0,34630000.0,34631000.0,Certificacion conjunto pivote y tubo guia,certificacion conjuntar pivotar tubo guia
387394,45232120,45000000,45200000.0,45230000.0,45232000.0,"Ejecución de obras de construcción del ""Proyec...",ejecución obrar construcción proyectar moderni...

In [3]:
#Vemos aquellos registros que al preprocesar la descripción se vuelve nulo
df[df['clean_text'].isnull()]

,id_cpv,id_division,id_grupo,id_clase,id_categoria,objeto,clean_text
2376,15000000,15000000,NaN,NaN,NaN,Pan 2013,NaN
9865,50100000,50000000,50100000.0,NaN,NaN,"Exp. N º 2 6 Bae,s Madrid-Toledo",NaN
10392,50100000,50000000,50100000.0,NaN,NaN,"Exp. 4 7 Bae,s Centro-Sur",NaN
10786,15000000,15000000,NaN,NaN,NaN,Pan ta2014,NaN
17296,38000000,38000000,NaN,NaN,NaN,Gps's,NaN
...,...,...,...,...,...,...,...
381353,60130000,60000000,60100000.0,60130000.0,NaN,gu.transporte escolar.ruta 51. Mayo-Junio 2022,NaN
381376,60130000,60000000,60100000.0,60130000.0,NaN,gu.transporte escolar.ruta 80. Mayo-Junio 2022,NaN
382407,34631000,34000000,34600000.0,34630000.0,34631000.0,.suministro de gc 5210 caucho-metal 2022-04,NaN
382589,60130000,60000000,60100000.0,60130000.0,NaN,gu.transporte escolar.ruta 163. Mayo-Junio 2022,NaN
382783,33641400,33000000,33600000.0,33640000.0,33641000.0,Medicamento_Levonorgestrel 52 mg.,NaN

In [5]:
#Vemos la cantidad de registros iniciales
df.groupby(['id_division']).count()

             id_cpv  id_grupo  id_clase  id_categoria  objeto  clean_text
id_division
3000000        3209      2105      1619           896    3209        3209
9000000        7625      7407      6735          3205    7625        7625
14000000       1011       977       871           449    1011        1009
15000000       4087      3008      1898          1324    4087        4085
16000000        572       472       180            22     572         572
18000000       3764      3456      2238          1644    3764        3762
19000000        527       501       359            60     527         526
22000000       2713      2401      1319           930    2713        2710
24000000       2345      2116      1571          1213    2345        2344
30000000       9441      8977      7300          5905    9441        9438
31000000       5069      4391      3397          2482    5069        5062
32000000       3945      3257      2445          1618    3945        3944
33000000      20353     18255     14407          7756   20353       20280
34000000      17070     16861     14784         13007   17070       17050
35000000       5019      4814      4282          2822    5019        5019
37000000       1466      1356       983           644    1466        1466
38000000       6617      5438      4566          3056    6617        6610
39000000       6631      6060      4858          3364    6631        6629
41000000        151       108        94             0     151         151
42000000       5446      4902      4177          3577    5446        5445
43000000        750       740       468           377     750         750
44000000       8232      7810      6513          5118    8232        8228
45000000      65291     57013     51592         45358   65291       65265
48000000       8041      4754      3629          2409    8041        8038
50000000      29690     26226     21783         12283   29690       29686
51000000        897       740       531           281     897         897
55000000       9725      9157      5739          1445    9725        9723
60000000       8110      7129      5821          1106    8110        8086
63000000       3209      2992      2314          1319    3209        3208
64000000       3330      3133      2095           880    3330        3330
65000000        627       516       391            79     627         627
66000000       6733      6196      5913          3784    6733        6733
70000000       3344      3028      2843          1359    3344        3343
71000000      20361     17756     14949         11511   20361       20358
72000000      19245     16005     12300          9291   19245       19244
73000000       2102      1479       759           222    2102        2101
75000000       1586      1350       978           685    1586        1586
76000000         39        19         5             1      39          39
77000000       3693      3468      2788          2088    3693        3693
79000000      26186     25646     23025         15741   26186       26186
80000000       6814      5371      3509           526    6814        6814
85000000      17497     16784     10225          6301   17497       17495
90000000      15484     14998     13734          9516   15484       15482
92000000      14356     11290      8815          5619   14356       14354
98000000       4992      4070      3650          2525    4992        4992

In [4]:
#Vemos aquellos registros que al preprocesar la descripción se vuelve nulo
df[df['clean_text'].isnull()].groupby(['id_division']).count()

             id_cpv  id_grupo  id_clase  id_categoria  objeto  clean_text
id_division
14000000          2         1         0             0       2           0
15000000          2         0         0             0       2           0
18000000          2         2         2             0       2           0
19000000          1         1         0             0       1           0
22000000          3         2         2             0       3           0
24000000          1         1         1             1       1           0
30000000          3         3         3             3       3           0
31000000          7         5         5             4       7           0
32000000          1         1         0             0       1           0
33000000         73        73        69             4      73           0
34000000         20        20        20            19      20           0
38000000          7         6         3             2       7           0
39000000          2         2         0             0       2           0
42000000          1         1         1             1       1           0
44000000          4         4         4             0       4           0
45000000         26        26        25            21      26           0
48000000          3         1         1             1       3           0
50000000          4         4         1             0       4           0
55000000          2         2         0             0       2           0
60000000         24        24        24             0      24           0
63000000          1         1         0             0       1           0
70000000          1         1         1             0       1           0
71000000          3         3         2             0       3           0
72000000          1         1         0             0       1           0
73000000          1         0         0             0       1           0
85000000          2         2         1             1       2           0
90000000          2         2         2             2       2           0
92000000          2         2         2             1       2           0

In [6]:
#Filtramos los nulos
df = df[df['clean_text'].notnull()]

In [7]:
#Vemos si han sido eliminados
df[df['clean_text'].isnull()]

Empty DataFrame
Columns: [id_cpv, id_division, id_grupo, id_clase, id_categoria, objeto, clean_text]
Index: []

In [8]:
#Exportamos los registros limpiados a un nuevo dataset. 
df.to_csv('export_licitaciones_cleaned.csv', sep=',', encoding='UTF8', index=False)